extends layout

block content
	#main-content
		div#navbar.white-box
			span#logo.nav-button
				img(src="/images/logo.jpg", width="55", height="55")
			span#map-view.nav-button.active Map	
			span#station-view.nav-button Stations
			span#about-view.nav-button About
		div#map-pane
			div#map-container
				div#map.white-box
				div#loading-overlay
					img(src="/images/loading.gif")
		div#station-pane
			div#station-container
				each stat, i in stations
					div.station(id='station-'+i, data-station=stat, style="background: url('/images/static_maps/"+stat.id+".png') 0;")
						span.station-header
							span.station-title #{stat.name}
							span.station-address #{stat.address}
						span.station-availability
							span.bikes-available #{stat.bikes}
							span.docks-available #{stat.docks}
						-function img_str(lat, lng) {
						-	var clat = parseFloat(lat) + 0.0001;
						-	var clng = parseFloat(lng) + 0.0001;
						-	var map = "http://maps.googleapis.com/maps/api/staticmap?key=AIzaSyCq0rYM7CdDmbBfHgrGT5_1kUwBPjnYlQU";
						-     return map+"&name="+stat.name+"&size=400x120&center="+clat+","+clng+"&maptype=satellite&zoom=17";
						-}
		div#about-pane
			div#about-container
				each rule in rules
					img(id=rule.img_id, src='/images/'+rule.img_src)
					ol.about-rules-list.white-box #{rule.title}
						each li in rule.rules
							li.about-rule #{li}
		div#search-pane
			form#search-container.white-box
				input#search-bar(type="text", placeholder="Lucas Oil, 10th and Senate, etc.")
				span#search-button ➤
		div#button-pane.white-box
			span#nearest.footer-button
				div.icon-container
					img.glyphicon(src='/images/crosshair.png')
			span#search.footer-button
				div.icon-container
					img.glyphicon(src='/images/location.png')
			span#timer.footer-button
				p.time-text 30:00
				p.msg-text  Tap to start
